<footer>
    <div class="container">
    <div class="clearfix">
            <div class="col-sm-3 col-xs-12">
                <ul class="list-unstyled footer-list">
                    <li>
                        <a href="https://epaas.com">EPAAS</a>
                    </li>
                    <li>
                        <a href="https://dataent.io">Dataent</a>
                    </li>
                    <li>
                        <a href="https://epaas.com/mobile">Mobile Apps</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <ul class="list-unstyled footer-list">
                    <li>
                        <a href="https://epaas.com/reseller">Reseller</a>
                    </li>
                    <li>
                        <a href="https://discuss.epaas.com">Forum</a>
                    </li>
                    <li>
                        <a href="https://github.com/dataent">GitHub</a>
                    </li>
                </ul>
            </div>
             <div class="col-sm-3 col-xs-12">
                <ul class="list-unstyled footer-list">
                 <li>
                    <a href="https://dataent.io/blog">Blog</a>
                </li>
                <li>
                    <a href="https://dataent.io/about">About</a>
                </li>
                <li>
                    <a href="https://dataent.io/about#contact">Contact</a>
                </li>
            </ul>
            </div>
             <div class="col-sm-3 col-xs-12">
                <ul class="list-unstyled footer-list">
                 <li>
                    <a href="https://epaas.com/uae-ksa-vat">UAE/KSA VAT</a>
                </li>
                <li>
                    <a href="https://epaas.com/india-gst">GST For India</a>
                </li>
                </ul>
             </div>
             </div>
             
 <div class="social">
                <p>Find us on
					<a class="underline" href="https://twitter.com/epaas"
						target="_blank">Twitter</a>,
					<a class="underline" href="https://www.facebook.com/EPAAS/"
						target="_blank">Facebook</a>,
					<a class="underline" href="https://medium.com/dataent-thoughts/"
						target="_blank">Medium</a>
                </p>
			</div>

            <div class="copyright">
                <p>
                    &copy;<span id="year"></span> Dataent Technologies Pvt. Ltd.
                    Content licensed under
                    <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">
						CC-BY-SA 3.0</a>. Read the <a href="https://epaas.com/terms" class="underline">terms of use</a>.
                </p>
            </div>
        </div>
	</footer>
    <!--Javascript-->
    <script src="/assets/dataent_theme/js/main.js"></script>
